<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="./css/product.css">
	</head>
	<body>
		<div class="page-content">
		        <div class="product">
		           
		            <div class="pro-intro" data-goods="5174409">
		                <div class="imgs">
		                    <div id="proBanner" class="main">
		                        <img src="img/o_1b001ccd61h1b72rhoivc9uja93.jpg" alt=""><img src="img/o_1b001ccdakc9182u1u9v1hctojmbv.jpg" alt=""><img src="img/o_1b0026qrt4o51gih1s3m4kn128911i.jpg" alt=""><img src="img/o_1b0029d2v1eerdma1ufd11qm1rtl130.jpg" alt="">

		                    </div>
		                    <div id="proBannerNavs" class="list">
		                        <ol class="clearfix">
		                            <li class="active">
		                                <img src="img/o_1b001ccd61h1b72rhoivc9uja93.jpg" alt="">
		                            </li>
		                            <li>
		                                <img src="img/o_1b001ccdakc9182u1u9v1hctojmbv.jpg" alt="">
		                            </li>
		                            <li>
		                                <img src="img/o_1b0026qrt4o51gih1s3m4kn128911i.jpg" alt="">
		                            </li>
		                            <li>
		                                <img src="img/o_1b0029d2v1eerdma1ufd11qm1rtl130.jpg" alt="">
		                            </li>
		                        </ol>
		                    </div>
		                </div>
		                <div class="intro">
		                    <div class="share">
		                        <a href="javascript:;" class="share-icon"></a>
		                        <div class="share-pop transition">
		                            <a class="sina" href="javascript:;" target="_blank"></a>
		                            <a class="qzone" href="javascript:;" target="_blank"></a>
		                        </div>
		                    </div>
		                    <div type="hidden" id="mallCode">1_1000047_0004000106</div>
		                    <h2 class="title">心语心愿</h2>
		                    
		                        <div class="pri-wrapper active">
		                            <h1 class="pri">￥<span id="price-span">158.00</span>
		                            </h1>
		                        </div>
		                        <div class="pri-wrapper">
		                            <h1 class="pri">￥<span id="price-span">198.00</span>
		                            </h1>
		                        </div>
		                        <div class="pri-wrapper">
		                            <h1 class="pri">￥<span id="price-span">258.00</span>
		                            </h1>
		                        </div>
		                        <div class="pri-wrapper">
		                            <h1 class="pri">￥<span id="price-span">308.00</span>
		                            </h1>
		                        </div>
		                    
		                    
		                    <div class="size label">选择规格</div>
		                    <ol class="size-list clearfix">
		                        <!-- 非组合商品 -->
		                        
		                            <li class="active" data-sku="106" data-goods-channel-id="5174409">1磅</li>
		                            <li data-sku="107" data-goods-channel-id="5174409">2磅</li>
		                            <li data-sku="108" data-goods-channel-id="5174409">3磅</li>
		                            <li data-sku="109" data-goods-channel-id="5174409">4磅</li>
		                        
		                        <!-- 组合商品 -->
		                        
		                    </ol>
		                    <div class="ch clearfix">
		                        <span class="num label">数量</span>
		                        <div id="num-picker" class="np">
		                            <input id="product-num" type="text" value="1">
		                            <div class="num-action">
		                                <a class="add-btn" href="javascript:;" data-track="商品详情-添加商品数据-点击" data-opt-label="心语心愿"
		                                    data-opt-value="5174409"></a>
		                                <a class="minus-btn" href="javascript:;" data-track="商品详情-减少商品数据-点击" data-opt-label="心语心愿"
		                                    data-opt-value="5174409"></a>
		                            </div>
		                        </div>
		
		                    </div>
		                    <div class="btns">
		                        <button id="buyItNowBtn" data-track="商品详情-立即购买-点击" data-opt-label="心语心愿"
		                            data-opt-value="5174409">立即购买</button>
		                        <button id="addToCartBtn" data-track="商品详情-加入购物车-点击" data-opt-label="心语心愿"
		                            data-opt-value="5174409">加入购物车</button>
		                    </div>
		                    <div class="sh">
		                        <span class="text" data-track="商品详情-幸福承诺-点击" data-opt-label="心语心愿"
		                            data-opt-value="5174409">
		                            幸福承诺
		                        </span>
		                        <div class="transition">
		                            <ol>
		                                <li>
		                                    <strong>就敢退</strong>
		                                    <span>实物不对板，退款不退货！</span>
		                                </li>
		                                <li>
		                                    <strong>就敢减</strong>
		                                    <span>约定时间！迟到1分钟减1元！</span>
		                                </li>
		                                <li>
		                                    <strong>就敢送</strong>
		                                    <span>迟到30分钟免费赠送！</span>
		                                </li>
		                                <li>
		                                    <strong>就敢赔</strong>
		                                    <span>早到或迟到60分钟以上，双倍赔付！</span>
		                                </li>
		                            </ol>
		                        </div>

		                        <a href="/region" target="_blank" class="show-delivery-region-menu" data-track="商品详情-查看配送区域-点击"
		                            data-opt-label="心语心愿" data-opt-value="5174409">查看配送区域</a>
		                        <div class="delivery-region-menu-pop transition">
		                            <a class="show-delivery-region" href="javascript:;">弹窗</a>
		                            <a class="" href="/region" target="_blank">新窗口</a>
		                        </div>
		                    </div>
		                    
		                </div>
		            </div>
		
		            <div class="pro-detail">
		                <h3>商品详情</h3>
		                <ol>
		                    <li class="detail">
		                        <div class="desc">
		                            <span><p><img src="img/o_1b001ccd61h1b72rhoivc9uja93.jpg" style="width: 1000px;" class="fr-fic fr-dib"><img src="img/o_1b001ccdakc9182u1u9v1hctojmbv.jpg" style="width: 1000px;" class="fr-fic fr-dib"><img src="img/o_1b0026qrt4o51gih1s3m4kn128911i.jpg" style="width: 1000px;" class="fr-fic fr-dib"><img src="img/o_1b0029d2v1eerdma1ufd11qm1rtl130.jpg" style="width: 1000px;" class="fr-fic fr-dib"></p></span>
		                            <p style="font-size: 18px;padding-top: 30px;text-align: center;">关于英寸，方形蛋糕以对角线折算，圆形蛋糕以直径折算；1英寸≈2.54cm</p>
		                    </li>
		                    <li class="comments"></li>
		                </ol>
		            </div>
		
		            <div class="pro-recom" style="visibility: hidden">
		                <h3>推荐选择</h3>
		                <div class="bottom-hr"></div>
		                <ol class="clearfix">
		        </div>
				
				    <script id="product-tpl-1" type="text/tpl">
				        <% if(null != list && list.length >0) { %>
					  	<div class="one"><img src="<%=domain%><%=list[0].value%>" alt=""></div>
				      	<% if(list.length > 2) { %>
				      		<div class="two clearfix">
				        		<div><img src="<%=domain%><%=list[1].value%>" alt=""></div>
				        		<div><img src="<%=domain%><%=list[2].value%>" alt=""></div>
				     		</div>
				        <%}%>
				        <% if(list.length > 3) { %>
				            <div class="one"><img src="<%=domain%><%=list[3].value%>" alt=""></div>
				            <% for(var i=4; i<list.length; i++){ %>
				                <div class="one"><img src="<%=domain%><%=list[i].value%>" alt=""></div>
				            <% } %>
					    <% } %>
					 <% } %>
				</script>
				    <script id="recomTpl" type="text/tpl">
				        <% for(var i=0; i<list.length; i++){ %>
				    <li data-track="商品详情-推荐栏-商品点击" data-opt-label="<%=list[i].displayName%>" data-opt-value="<%=list[i].goodsChannelId%>">
				        <div class="img-wrap">
				            <a href="/product/<%=list[i].goodsChannelId%>">
				                <img src="<%=list[i].imgUrl + '?imageslim'%>" alt="">
				            </a>
				        </div>
				        <div class="name">
				            <a href="/product/<%=list[i].goodsChannelId%>"><%=list[i].displayName%></a>
				        </div>
				        <div class="price">￥<%=(list[i].discountPrice/100.0).toFixed(2)%></div>
				    </li>
				    <% } %>
				</script>

	</body>
</html>
